<div class="container-fluid bg-gray-light d-none d-none d-md-block" >
    <div class="container-md py-3">
        <div class="row">
            <div class="col-6 col-lg-3">
                <div class="bk-content-home-banner">
                    <img src="../../../assets/images/img-cam.png">
                    <div class="bk-tag-home-banner">
                        <div>ENVÍO GRATIS</div>
                        <div>Envío gratis en toda La Paz. O pedidos superiores a los $125 Bo.</div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-lg-3">
                <div class="bk-content-home-banner">
                    <img src="../../../assets/images/img-auricular.png">
                    <div class="bk-tag-home-banner">
                        <div>SOPORTE 24/7</div>
                        <div>Contáctenos las 24 horas del día los 7 días de la semana.</div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-lg-3">
                <div class="bk-content-home-banner">
                    <img src="../../../assets/images/img-return.png">
                    <div class="bk-tag-home-banner">
                        <div>REGRESO 30 DÍAS</div>
                        <div>Simplemente devuélvalo dentro de los 30 días para un cambio de artículo.<div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-lg-3">
                <div class="bk-content-home-banner">
                    <img src="../../../assets/images/img-credit-card.png">
                    <div class="bk-tag-home-banner">
                        <div>PAGO 100% SEGURO</div>
                        <div>Garantizamos un pago seguro con IGV.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>