<div class="d-flex bk-h-100"> 
    <button type="button" class="btn btn-light bk-btn-transparent bk-h-100">
        <app-badge [countBadge]="count_notify"></app-badge>
        <img src="../../../assets/images/icon-bell.png" width="25px" height="25px">
    </button>
    <button type="button" class="btn btn-light bk-btn-transparent bk-h-100">
        <app-badge [countBadge]="count_shoppingCart"></app-badge>
        <img src="../../../assets/images/icon-shoppingCart.png" width="25px" height="25px">
    </button>
</div>