<div class="container-fluid bg-gray-light mt-5 bk-color-footer">
    <div class="container-md">
        <div class="row pt-4">
            <div class="col-6 col-lg-3">
                <img class="mx-auto d-block" src="../../../assets/images/img-visa.png" />
                <p class="text-center">Visa</p>
            </div>
            <div class="col-6 col-lg-3">
                <img class="mx-auto d-block" src="../../../assets/images/img-master.png" />
                <p class="text-center">MarterCard</p>
            </div>
            <div class="col-6 col-lg-3">
                <img class="mx-auto d-block" src="../../../assets/images/img-pagosnet.png" />
                <p class="text-center">Pagosnet</p>
            </div>
            <div class="col-6 col-lg-3">
                <img class="mx-auto d-block" src="../../../assets/images/img-redenlace.png" />
                <p class="text-center">Redenlace</p>
            </div>            
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-6 col-lg-3">
                <ul class="list-group bk-footer-list">
                    <li class="list-group-item">ACERCA DE BROOKLYN</li>
                    <li class="list-group-item"><a href="#" class="link-secondary">Términos y Condiciones</a></li>
                    <li class="list-group-item"><a href="#" class="link-secondary">Ayuda</a></li>
                    <li class="list-group-item"><a href="#" class="link-secondary">Vende con Brooklyn</a></li>
                    <li class="list-group-item"><a href="#" class="link-secondary">Inicia tu sesión</a></li>
                </ul>
            </div>
            <div class="col-sm-6 col-lg-3">
                <ul class="list-group bk-footer-list">
                    <li class="list-group-item">SERVICIO AL CLIENTE</li>
                    <li class="list-group-item"><a href="#" class="link-secondary">Aviso de Privacidad</a></li>
                    <li class="list-group-item"><a href="#" class="link-secondary">Contacto</a></li>
                    <li class="list-group-item"><a href="#" class="link-secondary">Formas de Pago</a></li>
                    <li class="list-group-item"><a href="#" class="link-secondary">Política de Cookies</a></li>
                </ul>
            </div>
            <div class="col-sm-6 col-lg-3">
                <ul class="list-group bk-footer-list">
                    <li class="list-group-item">NOVEDADES</li>
                    <li class="list-group-item"><a href="#" class="link-secondary">Brooklyn Envíos</a></li>
                    <li class="list-group-item"><a href="#" class="link-secondary">Categorías Nuevas</a></li>
                </ul>
            </div>
            <div class="col-sm-6 col-lg-3">
                <ul class="list-group bk-footer-list">
                    <li class="list-group-item">
                        <span>SÍGUENOS</span>
                        <a href="#" class="ms-2" ><img  src="../../../assets/images/icon-facebook.png" /> </a>  
                        <a href="#" class="ms-2" ><img src="../../../assets/images/icon-instagram.png" /> </a>
                    </li>
                    <li class="list-group-item">
                        <div><a href="#" class="ms-2" ><img  src="../../../assets/images/img-google-play.png" /> </a> </div>
                        <div><a href="#" class="ms-2" ><img  src="../../../assets/images/img-app-store.png" /> </a> </div>
                    </li>
                </ul>
            </div> 
            <div class="py-5">
                © 2021 Brooklyn | Todos los derechos reservados.
            </div>           
        </div>
    </div>
</div>