<div class="container-md">
    <app-home-may-interest></app-home-may-interest>
    <app-home-offer></app-home-offer>
    <app-home-sold></app-home-sold>
    <div class="row">
        <div class="col-md-6">
            <app-info-banner [info]="banner2"></app-info-banner>
        </div>
        <div class="col-md-6">
            <app-info-banner [info]="banner3"></app-info-banner>
        </div>
    </div>
    <app-info-banner [info]="banner1"></app-info-banner>
    <app-popular-categories></app-popular-categories>
    <app-info-banner [info]="banner1"></app-info-banner>
</div>