.bk-card-sale{
    border: none
}
.bk-sale-mount{
    text-decoration: line-through;
    font-size: 16px;
    color: #666666;
    opacity: 1;
}
.bk-offert-mount{
    font: normal normal bold 24px/28px Arial;
    color: #2A2A2A;
    opacity: 1;
}
.bk-dto{
    text-align: center;
    font: normal normal bold 14px/16px Arial;
    color: #FF342E;
    opacity: 1;
}
.bk-info{
    font: normal normal normal 14px/20px Arial;
    color: #2A2A2A;
    opacity: 1;
}
.bk-send-type{
    font: normal normal bold 14px/16px Arial;
    color: #0089D0;
    opacity: 1;
}