/* You can add global styles to this file, and also import other style files */
.bk-btn-transparent{
    background: transparent !important;
    border: none !important;
    &:focus{
        box-shadow: none !important;
    }
}
.bk-h-100{
    height: 100% !important;
}

.bk-badge {
    border-radius: 50%;
}