.bk-header-banner{
    height: 36px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
}
.bk-tag-header-banner{
    font-size: 13px;
    text-decoration: none;
}
.bk-img-header-banner{
    width: 22px;
    height: 22px;
}