.bk-info-top{
    text-align: left;
    font: normal normal normal 14px/29px Arial;
    letter-spacing: 1.4px;
    color: #FFFFFF;
    opacity: 1;
}
.bk-banner-title{
    font: normal normal bold 24px Arial;
    letter-spacing: 0px;
    opacity: 1;
}
.bk-banner-info{
    text-align: left;
    font: normal normal normal 14px/22px Arial;
    letter-spacing: 0px;
    opacity: 1;
}
.bk-image-banner{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}